@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">

        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" href="javascript:void(0)">
                <img src="~/img/brand/blue.png" class="navbar-brand-img" alt="...">
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">

                <!-- Collapse header -->
                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="/">
                                <img src="~/img/brand/blue.png">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link @(Context.Request.Path == "/" ? "active" : "")" href="@Url.Action("Index")">
                            <i class="ni ni-laptop text-primary"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(Context.Request.Path == "/Speaker" ? "active" : "")" href="@Url.Action("Speaker")">
                            <i class="ni ni-button-play text-orange"></i> Speaker
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(Context.Request.Path == "/Mixer" ? "active" : "")" href="@Url.Action("Mixer")">
                            <i class="ni ni-ui-04 text-primary"></i> Mixer
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(Context.Request.Path == "/DMB" ? "active" : "")" href="@Url.Action("DMB")">
                            <i class="ni ni-tv-2 text-default"></i> DMB
                        </a>
                    </li>
                    
                    @* Not required for now *@
                    
                    @* <li class="nav-item"> *@
                    @*     <a class="nav-link" href="#"> *@
                    @*         <i class="ni ni-key-25 text-info"></i> Login *@
                    @*     </a> *@
                    @* </li> *@
                    @* <li class="nav-item"> *@
                    @*     <a class="nav-link" href="#"> *@
                    @*         <i class="ni ni-circle-08 text-pink"></i> Register *@
                    @*     </a> *@
                    @* </li> *@
                    
                    <li class="nav-item">
                        <a class="nav-link @(Context.Request.Path == "/MMS" ? "active" : "")" href="@Url.Action("MMS")">
                            <i class="ni ni-send text-dark"></i>
                            <span class="nav-link-text">MMS</span>
                        </a>
                    </li>
                </ul>

                <!-- Divider -->
                <hr class="my-3">

                <!-- Heading -->
                <h6 class="navbar-heading p-0 text-muted">
                    <span class="docs-normal">Documentation</span>
                </h6>

                <!-- Navigation -->
                <ul class="navbar-nav mb-md-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/docs/getting-started/overview">
                            <i class="ni ni-spaceship"></i> Getting started
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</nav>
